<nav>
    <ul>
        <li>
            <a href="/users">Просмотр каталога</a>
        </li>
        <li>
            <a href="/users/add">Добавленить товар</a>
        </li>
        <li>
            <a href="/users/add">Изменить товар</a>
        </li>
    </ul>
</nav>